@model IEnumerable<AppAtleta.Models.Atleta>

@{
    ViewBag.Title = "AtletaJuvenil";
}

<h2>AtletaJuvenil</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classificacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Classificacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AtletaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AtletaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AtletaId })
        </td>
    </tr>
}

</table>
